@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto+Mono:ital,wght@1,300&family=Teko:wght@300&display=swap');

.cabecario {
    background-color: rgba(0, 0, 0, 0.685);
    width: 100%;
    height: 70px;
    display: flex;
    padding:8px;
}

.titulo-logo {
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
    color: rgb(255, 255, 255);
    padding: 0 20px
    }

button.btn {
        color: #fff; 
    }
.btn-cabecario{
    background-color: transparent;
    color: rgb(255, 255, 255);
    position: fixed;
    right: 15px;
    padding-top: 10px;
}

.btn:hover {
    border-bottom: 2px solid rgb(243, 44, 44);
}

.btn:focus {
    background-color: rgba(255, 255, 255, 0.349);
    color: rgb(245, 58, 58);
}
.fundo {
    background-image: url("./biblioteca-img-principal.jpg");
    height: 350px;
    background-size: contain;
    background-position: center;
}

.cont-fundo {
    position: absolute;
    top: 200px;
    left: 600px;
    right: 200px;
}